numpy==1.16.3
scipy==1.5.2
Pillow==7.2.0
cython==0.29.21
matplotlib==3.3.2
scikit-image==0.17.2
tensorflow==1.5.0
tensorflow-gpu==1.5.0
keras==2.0.8
opencv-python==4.4.0.44
h5py==2.10.0
imgaug==0.4.0
ipython==7.16.1
